
html,

body {
  margin: 0;
}

.container {
  display: column;
  flex-direction: column;
}

.logo {
  display: flex;
  flex-direction: row;
  width: 160px;
  height: 100px;
  padding: 1.5em;
  margin-top: -60px;
}

.menu {
  margin-left: 24em;
  margin-top: -20px;
}

.texto_chat {
  width: 550px;
  margin-left: 160px;
  font-family: Roboto-Medium;
  font-size: 25px;
  color: #ffffff;
}

.faixa1 {
  display: flex;
  flex-direction: column;
  background: #8fb482;
}

.imagem1 {
  margin-left: 8em;
}

.titulo {
  width: 350px;
  margin-left: 5.2em;
  font-family: Roboto-Medium;
  font-size: 60px;
  font-weight: 500;
  color: #ffffff;
  padding: 30px;
}

.introducao {
  display: flex;
  flex-direction: row;
}

.cabecalho {
  display: flex;
  flex-direction: row;
  margin-top: 40px;
}

.apresentacao {
  display: flex;
  flex-direction: column;
}

.faixa2 {
  display: flex;
  flex-direction: row;
  background: #b8cace;
}

.compartilhe {
  color: #205922;
  width: 350px;
  margin-left: 1.5em;
  margin-top: 1em;
  font-family: Roboto-Medium;
  font-size: 60px;
  font-weight: 500;
  padding: 30px;
}

.explicacao {
  width: 450px;
  margin-left: 1em;
  margin-top: -2em;
  font-family: Roboto-Medium;
  font-size: 25px;
  color: #000000;
}

.menu {
  display: row;
  flex-direction: row;
  font-family: Roboto-Medium;
}

.chat1 {
  background: #f3d7fd;
  margin: 3em;
  margin-right: 5em;
  margin-left: 5em;
  border-radius: 25px;
}

.faixa3 {
  display: flex;
  flex-direction: column;
  background: #9a9a9a;
}

.depoimento1 {
  display: flex;
  flex-direction: column;
  margin: 2em;
  margin-left: 10em;
  margin-right: 15em;
}

.mensagem1 {
  background: #fcefef;
  width: 700px;
  font-family: Roboto-Medium;
}

.usuario1 {
  display: flex;
  flex-direction: row;
  margin-left: 3em;
}

.reagir_msg1 {
  display: flex;
  flex-direction: row;
  margin-left: 5em;
}

.curtidas1 {
  display: flex;
  flex-direction: row;
}

.coracao1 img {
  width: 17px;
  height: 18px;
  margin-left: 10px;
}

.depoimento2 {
  display: flex;
  flex-direction: column;
  margin-left: 5em;
}

.usuario2 {
  display: flex;
  flex-direction: row;
}

.mensagem2 {
    background: #fcefef;
    width: 700px;
    font-family: Roboto-Medium;
}

.reagir_msg2 {
  display: flex;
  flex-direction: row;
  margin-left: 5em;
}

.curtidas2 {
  display: flex;
  flex-direction: row;
}

.coracao2 img {
  width: 17px;
  height: 18px;
  margin-left: 10px;
}

.depoimento3 {
  display: flex;
  flex-direction: column;
  margin-left: 10em;
  margin-right: 15em;
  padding: 1em;
}

.mensagem3 {
  background: #fcefef;
  width: 700px;
}

.usuario3 {
  display: flex;
  flex-direction: row;
  margin-left: 5em;
}

.reagir_msg3 {
  display: flex;
  flex-direction: row;
  margin-left: 5em;
}

.curtidas3 {
  display: flex;
  flex-direction: row;
}

.coracao3 img {
  width: 17px;
  height: 18px;
  margin-right: 20px;
}

.comentario {
  display: flex;
  flex-direction: row;
  margin-left: 5em;
  padding: 1em;
}

.publicar {
  color: #207be5;
}

.digitar {
  position: absolute;
}

.reponder1{
    margin-left: 30em;;
}

.reponder2{
    margin-left: 30em;;
}

.reponder3{
    margin-left: 30em;;
}