.Container{
    
}

body {
    margin: 0px;
}

a{
    color: cornsilk;
}

.pagina-principal{
    background-image: url(../images/mulheres1.png);
    height: 100%;
    margin: -5px;
    background-size: 100% 100%;
}

.cabecalho-inicio{
    display: flex;
    flex-direction: row;
    justify-content: center;
    
    
}

.cabecalho-botoes{
    margin-top: 4em;
    margin-left: 22em;
    justify-content: space-between;
}



.texto-centro{
    text-align: center;
    margin-top: 9em;
    font-size: 2.2em;
    color: cornsilk;
    font-style: italic;
}

.faixa-meio{
    text-align: center;
    margin-top: 6em;
    font-size: 1.4em;
    color: cornsilk;
    font-style: italic;
}

.faixa-baixo{
    text-align: center;
    margin-top: 10em;
    font-size: 1.2em;
    font-style: italic;
    color: cornsilk;
}

.tipo-de-violencia{
    height: 100%;
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.faixa2-img{
    padding-top: 10em;
}

.faixa2-conteudo{
    padding-top: 10em;
   
}

.faixa2-texto1{
    text-align: center;
    font-style: italic;
    font-size: 2.2em;
    color: #1A284D;
}

.faixa2-texto2{
   font-style: italic;
    font-size: 2.0em;
    color: black;
    padding-top: 5em;
}

.botao-faixa2{
    padding-top: 15em;
    text-align: center;
   
}

.faixa2-botao{
    border-radius: 15%;
}


.autoestima{
    background-color: #9A9A9A;    
    height: 100%;
    display: flex;
    flex-direction: row;
}

.img-faixa3{
    padding-top: 11em;
    width: 30em;
    height: 30em;
    padding-left: 6em;
}

.faixa3-texto1{
    text-align: center;
    color: #854141;
    font-size: 2.2em;
    font-style: italic;
}

.faixa3-texto2{
    text-align: center;
    font-size: 1.9em;
    font-style: italic;
    padding-top: 6em;
}

.faixa3-botao{
    text-align: center;
    padding-top: 10em;
}



.faixa3-conteudo{
    padding-top: 15em;
}